
 
h2{
  display: flex;
    font-size: 19px;
    font-family: system-ui;
    margin-left: 11px;
}
.linking{
  left: 184px;
    position: relative;
    color: #128989;
  }
    


.linking1{
    font-weight: 500;
    color: #000;
    text-decoration: inherit;
    margin-left: 5em;
}
    p{
      display: flex;
      margin-left: 31px;
      margin-top: -26px;
  }


.initiate{
  width: 22em;
  border-radius: 2px;
  position: relative;
  top: 8px;
  color: white;
  right: 10px;
  background-color: #128989;
}
   

.box1{
  position: relative;
    right: 13em;
}
.second{
  font-family: none;
}











