body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #d0eeee ; */
}
.register{
    /* padding: 20px; */
    margin: 25px;
    max-width: 594px;
    width: 100vw;
    display: flex;
    border-radius: 5px;
    
    max-height: 18em;
}
.col-2{
    color: #000;
    margin: 0px;
    margin-top: 0em;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    width: 289px;
    height: 332px;
}
#form{
   
    margin: 30px;
    margin-left: -4px;
  }
 button.btn{
    font-size: 1em;
    width: 188px;
    margin: 9px;
    padding: 8px;
    background: #128989;
    border: 1px solid #24DBDB;
    

}
.col-2 h3{
    font-size: 16px;
    top: 136px;
    position: absolute;
    /* left: 471px; */
    margin: 11px;
    padding: 4px;
    text-align: right;
    line-height: 41px;
  }
 form #form.flex.flex-col{
    position: relative;
    top: -24px;
  }
  .link3{
    position: relative;
    left: 83px;
    color: #128989;
  }
  .link2{
    left: 64px;
    position: relative;
    color: #000;
  }