.next{
    
    background-color: #128989;
    height: 56px;
    width: 300px;
    border-radius:6px;
    gap: 10px;

    color: white;
    padding-bottom: 40px;
}
p{
    padding-top: 30px;
    size: 20px;
}
.text-container input{
    width: 20px;
    height: 20px;
    margin: 10px;
    text-align: center;
    display:inline;
   font: 5ch droid sans mono;
   letter-spacing: 0.5ch;
    
}

