*{
   
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.chart-container{
    position: absolute;
    /* width: calc(100% - 232px); */
    width: 58%;
    right: 0;
    height: 300px;
    border: 1px rgb(160, 160, 160) solid;
    top: 193px;
    left: 248px;
}
.table-emplyees{
    border-radius: 10px;
    border: 1px solid;
    position: relative;
    top: 16px;
    width: 508px;
    height: 135px;
}
.stats-title{
    position: relative;
    top: 20px;
    display: flex;
    font-size: large;
    font-weight: bold;
    left:9px
    
}
.square{
    width: 14px;
    height: 12px;
    border: 1px grey solid;
    display: inline-flex;
    background-color: beige;
    

}
.square-words{
    top: -24px;
    left: 40px;
    position: relative;
    font-weight: bold;
    font-size: smaller;
}
.square2{
    width: 14px;
    height: 12px;
    border: 1px grey solid;
    background-color: rgb(9, 116, 143);
    position: relative;
    left: 482px;
    top: -42px;
}

.square-words2{
    top: -58px;
      left: 154px;
    position: relative;
    font-weight: bold;
    font-size: smaller;
}
.month{
    color:aqua
}