.input-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
h4{
    position: relative;
    right: 82px;
    font-weight: 400;
}
.six{
    display: flex;
    flex-direction: row;
    gap: 36px;
    position: relative;
    left: 36px;
}
.round
{
    width: 39px;
    height: 40px;
  border-radius: 100px;
}
.receive-code{
    color: dimgray;
}
.Resend-password{
    color: red;
}
.code{
    width: 20em;
    border-radius: 2px;
    position: relative;
    top: 8px;
    color: white;
    right: 10px;
    background-color: #128989;
}
