.side-nav{
    display: flex;
    flex-direction: column;
    background: rgb(135, 211, 211);
    
    width: 100%;
    position: absolute;
    top: 53px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out,
        opacity .3s ease-in-out;
}
.side-nav.visible{
    opacity: 1;
    pointer-events: auto;
    transform: none;
    width: 17%;
    height: 614px;
}
.side-nav .link{
    color: white;
    padding: 8px 4px;
    color: black;
}

.side-nav .link:hover{
    background: rgba(54, 52, 52, 0.4);
}
#one{
    padding: -1em;
    margin-left: -5em;
    margin-top: 3em;

}
#two{
    padding: 1em;
    margin-left: -5em;

}
#three{
    padding: 1em;
    margin-left: -5em;
}
#four{
    padding: 1em;
    padding-left: 1px;
    margin-left: -5em;
}
#five{
    padding: 1em;
    padding-left: 1px;
    margin-left: -5em;
}
#six{
    padding: 1em;
    padding-left: 1px;
    margin-left: -5em;
}
.total-employees{
    Width: 16em;
    Height: 9em;

border-Radius:20px;
background-color: #128989;
margin-left: 15em;
margin-top: -329px;
}
#number{
    color: white;
    position: relative;
    font-size: xx-large;
    margin-right: 8em;
    top: -60px;
    left: 66px;

}
#words{
    color: white;
    margin-top: -3em;
    margin-right: 7em;

}
.total-department{
    Width: 16em;
    Height: 9em;

border-Radius:20px;
background-color: #128989;
margin-left: 32em;
margin-top: -9em;
}
#number1{
    color: white;
    position: relative;
    font-size: xx-large;
    margin-right: 8em;
    top: -60px;
    left: 66px;
}
#word{
    color: white;
    margin-top: -3em;
    margin-right: 7em;

}

.total-employees svg{
    position: relative;
    left: 4em;
    top: 1em;

}
.total-department svg{
    position: relative;
    left: 5em;
    top: 1em;

}
.total-payslip{
    Width: 16em;
    Height: 9em;

border-Radius:20px;
background-color: #128989;
margin-left: 49em;
margin-top: -9em;
}
#number2{
    color: white;
    position: relative;
    font-size: xx-large;
    margin-right: 8em;
    top: -60px;
    left: 72px;

}
#wordss{
    color: white;
    margin-top: -4em;
    margin-right: 4em;

}
.total-payslip svg{
    position: relative;
    left: 5em;
    top: 0em;
}
/* #two{
    position: relative;
    top: 4px;
} */
.job-applies{
    Width: 16em;
    Height: 9em;

border-Radius:20px;
background-color: #128989;
margin-left: 15em;
margin-top: -45em;
}
#number4{
    color: white;
    position: relative;
    font-size: xx-large;
    margin-right: 8em;
    top: -60px;
    left: 66px;

}
#words4{
    color: white;
    margin-top: -3em;
    margin-right: 7em;

}