body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d0eeee;
}

.container {
  /* padding: 20px; */
  margin: 25px;
  max-width: 594px;
  width: 100vw;
  display: flex;
  border-radius: 5px;

  max-height: 18em;
}

.full-names label {
  font-size: 12px;
}

.full-names input {
  color: red;
}

button.btn {
  font-size: 1em;
  width: 199px;
  margin: 48px;
  padding: 8px;
  background: #128989;
  /* border: 1px solid #24DBDB; */ /*i made a chane*/

}

/* .col-2 h3{
    font-size: 16px;
    top: 167px;
    position: absolute;
    left: 471px; 
    margin: 9px;
    padding: 4px;
    text-align: right;
    line-height: 41px;
  } */
form #form.flex.flex-col {
  margin: 82px;
  margin-left: -7px;
}

.link3 {
  position: relative;
  left: 83px;
  color: #128989;
}

.link2 {
  left: 64px;
  position: relative;
  color: #000;
}