body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #d0eeee; */
}

.container {
  /* padding: 20px; */
  margin: 25px;
  max-width: 594px;
  width: 100vw;
  display: flex;
  border-radius: 5px;

  max-height: 18em;
}

.full-names label {
  font-size: 12px;

}

.full-names input {
  color: rgb(15, 14, 14);
  border-bottom: 1px solid #000;
  margin: 0px;
}

button.btn {
  font-size: 1em;
  width: 199px;
  margin: 48px;
  padding: 8px;
  background: #128989;
  color: #fff;
  border: 1px solid #24DBDB;

}

 h3{
   position: absolute;
  } 

form#form.flex.flex-col p{
  font-size: 9px;
}
p.hey{
 left: -13em;
  color: #128989;
}

.link3 {
  position: relative;
  left: 83px;
  color: #000;
}

.link2 {
  left: 64px;
  position: relative;
  color: #128989;
}
.link1{
  color: #128989;
  text-decoration: underline;
}
.span{
  font-size: 12px;
  display: block;
}
 /* round input fields */


 .round
 {
   width: 100px;
   height: 100px;
   background:none;
   border-radius: 100px;
   border: 1px solid rgba(0,0,0,0.4);
 }