body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d0eded;
}

.container {
  /* padding: 20px; */
  margin: 25px;
  max-width: 594px;
  width: 100vw;
  display: flex;
  border-radius: 5px;

  max-height: 18em;
}

.full-names label {
  font-size: 15px;

}

.full-names input {
  color: rgb(15, 14, 14);
  /* border-bottom: 1px solid #000; */
  margin: 0px;
}

button.btn {
  width: 20em;
  border-radius: 2px;
  position: relative;
  top: 8px;
  color: white;
  right: 10px;
  background-color: #128989;

}

 h3{
   display: flex;
    font-size: 19px;
    font-family: system-ui;
    margin-left: 11px;
  } 

form#form.flex.flex-col p{
  font-size: 9px;
}
.hey{
  left: -135px;
  position: relative;
  top: 12px;
  color: #128989;
  font-size: 11px;
}

.link3 {
  font-weight: 500;
      color: #128989;
      text-decoration: inherit;
      margin-left: 5em;
}

.link2 {
  left: 184px;
  position: relative;
  color: #000;
}
.link1{
  color: #128989;
  text-decoration: underline;
}
.span{
  font-size: 12px;
  display: block;
  color: #000;
}
 /* round input fields */


 .round
 {
   width: 100px;
   height: 100px;
   background:none;
   border-radius: 100px;
   border: 1px solid rgba(0,0,0,0.4);
 }